.catPage {
    display: flex;
    flex-direction: column; 
    background-color: antiquewhite;
    margin-top: -1vh;
    width: 100vw;
    min-height: 103vh; 

}

.catGuide ul {
    position: relative;
    top: -2vh;
    width: 40vw;
    height: 5vh;
}

.catGuide ul li {
    display: inline;
    margin-right: 2vh;
}

.catGuide ul li:last-child {
    float: right;
}

.catGuide ul li:nth-child(2) {
    margin-left: 16%;
}


.catGuide ul li:first-child {
    

    float: left;
}

.catGuide {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 10vh;
    height: 5vh;
    font-family: cursive;
    font-size: 1.5em;
    border-radius: 2vh;
    background-color: grey;
    width: 40vw;
    border: black solid 1px;
    z-index: 5;
}

#bookmarkSearch {
    margin-top: -1vh;
}


.catPage #results span .button {
    background-color: red;
    border: black 1px solid;
}

.catPage #results span .button:hover{
    background-color: rgb(170, 23, 23);
}

.catPage #results #green .button {
    background-color: rgb(22, 194, 36);
    width: 5vw;
    margin-bottom: 1vh;
}

.catPage #results #green .button:hover {
    background-color: rgb(28, 151, 38);
}

#results #styler {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 15vh;
    border-radius: 2vh;
    font-family: cursive;
    font-size: 1.5em;
    background-color: rgb(95, 185, 95);
    border: 1px black solid;

}

#results ul li {
    display: inline;
    margin-right: 3vh;
}

#results ul {
    width: 40vw;
    height: 15vh;
}


#results ul {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    padding: 0;
    margin: 10px 0;
    border-radius: 10px;
    flex-wrap: wrap; 
}

#results ul li {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 5px;
    margin: 0 15px;
    text-align: center;
    min-width: 100px;
    box-sizing: border-box;
    
}


#results ul li:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 4vh;
    gap: 10px; 
    justify-content: center;
}

#results ul li:nth-child(1),
#results ul li:nth-child(2) {
    display: flex;
    max-height: 100px;
    flex-direction: column;
    overflow-y: auto;
    max-width: 15%;
}

#results ul li input {
    width: 100%;
    box-sizing: border-box;
}

#results ul li span {
    display: block;
    width: 100%;
    word-wrap: break-word;
}

#styler{
    margin-top: 2vh;
}



#results{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    
}

#deleteCategory .button
{
    background-color: red;
    font-size: 1.5em;
    width: 10vw;
    height: 10vh;
}

#deleteCategory{
    margin-left: 77%;
}

.catPage .buttons {
    margin-right: 50%;
    margin-bottom: 5%;
    
}

#deleteCategory .button:hover{
    background-color: rgb(170, 23, 23);

}

#results > div{
display: flex;
flex-wrap: wrap;
height: fit-content;
flex-direction: column;
margin-left: 30%;

}