#bar{
    margin-left: 30%; 
    position: relative;
    top: 4.5vh;
    width: 40vw;
    height: 4vh;
    border: 1px black solid;
    text-align: center;
    font-family: cursive;
    border-radius: 1vh;
    
}

.cantEdit{
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
    background-color: rgb(199, 199, 199);
}